messages-component {

  .padding-40 {
    padding: 40px;
  }

  .has-danger {
    .form-control {
      background: transparentize(#e01133, 0.9);
      color: #e01133;
    }
  }

  .center {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
  }

  .btn-login {
    width: 120px;
    height: 40px;
  }

  .margin-top-40 {
    margin-top: 40px;
  }

  .margin-top-30 {
    margin-top: 30px;
  }

  .input-time {
    width: 60px;
  }

  .left {
    position: absolute;
    width: 40%;
  }

  .right {
    position: absolute;
    right: 300px;
    width: 30%;
  }
}
