<div class="padding-40">
    <form name="configForm" novalidate
          ng-submit="configForm && configForm.$valid && vm.saveConfig(vm.config)">
        <div class="config-position">
            <div class="width-100-percent">
                <div class="form-group col-12"
                     ng-class="{ 'has-danger' : configForm.levelSlack.$invalid && !configForm.levelSlack.$pristine }">
                    <label for="levelSlack">Bottle Level To Notification In Slack:</label>
                    <input
                            type="number"
                            min="0"
                            name="levelSlack"
                            class="form-control form-input"
                            id="levelSlack"
                            ng-model="vm.config.data.BOTTLE_LEVEL_TO_NOTIFY_SLACK"
                            required/>
                </div>
                <div class="form-group col-12"
                     ng-class="{ 'has-danger' : configForm.levelSms.$invalid && !configForm.levelSms.$pristine }">
                    <label for="levelSms">Bottle Level To Notification Through SMS:</label>
                    <input
                            type="number"
                            min="0"
                            name="levelSms"
                            class="form-control form-input"
                            id="levelSms"
                            ng-model="vm.config.data.BOTTLE_LEVEL_TO_NOTIFY_SMS"
                            required/>
                </div>
                <div class="form-group col-12"
                     ng-class="{ 'has-danger' : configForm.bottleCount.$invalid && !configForm.bottleCount.$pristine }">
                    <label for="bottleCount">Bottles To Order:</label>
                    <input
                            type="number"
                            min="0"
                            name="bottleCount"
                            class="form-control form-input"
                            id="bottleCount"
                            ng-model="vm.config.data.BOTTLES_TO_ORDER"
                            required/>
                </div>
                <div class="form-group col-12"
                     ng-class="{ 'has-danger' : configForm.slackUrl.$invalid && !configForm.slackUrl.$pristine }">
                    <label for="slackUrl">Slack URL:</label>
                    <input
                            name="slackUrl"
                            class="form-control form-input"
                            id="slackUrl"
                            ng-model="vm.config.data.SLACK_URL"
                            required/>
                </div>
                <div class="form-group col-12"
                     ng-class="{ 'has-danger' : configForm.mobileNumber.$invalid && !configForm.mobileNumber.$pristine }">
                    <label for="mobileNumber">Phone Number For Notifications:</label>
                    <input name="mobileNumber"
                           id="mobileNumber"
                           ng-model="vm.config.TWILLIO_PHONE_NUMBER_TO"
                           class="form-control form-input"
                           ui-mask="{{vm.mobileNumberMask}}"
                           ui-mask-placeholder
                           ui-mask-placeholder-char="_"
                           required />
                </div>
                <div class="form-group col-4 hidden-md-down margin-top-30">
                    <button class="btn btn-primary save-config"
                            ng-disabled="!configForm || configForm.$invalid || configForm.$pristine || vm.loading"
                            ng-click="configForm.$setPristine(); vm.updateConfigs(vm.config.data)">
                        Save settings
                    </button>
                </div>
            </div>

            <div class="width-100-percent">
                <div class="form-group col-12"
                     ng-class="{ 'has-danger' : configForm.slackMessage.$invalid && !configForm.slackMessage.$pristine }">
                    <label for="slackMessage">Slack Message:</label>
                    <textarea class="form-control"
                              rows="5"
                              id="slackMessage"
                              name="slackMessage"
                              ng-model="vm.config.data.SLACK_MESSAGE"
                              required>
                </textarea>
                </div>
                <div class="form-group col-12"
                     ng-class="{ 'has-danger' : configForm.smsMessage.$invalid && !configForm.smsMessage.$pristine }">
                    <label for="smsMessage">SMS Message:</label>
                    <textarea class="form-control"
                              rows="5"
                              id="smsMessage"
                              name="smsMessage"
                              ng-model="vm.config.data.SMS_MESSAGE"
                              required>
                </textarea>
                </div>
                <div class="form-group col-12 margin-top-30 hidden-lg-up">
                    <button class="btn btn-primary save-config"
                            ng-disabled="!configForm || configForm.$invalid || configForm.$pristine || vm.loading"
                            ng-click="configForm.$setPristine(); vm.updateConfigs()">
                        Save settings
                    </button>
                </div>
            </div>

        </div>
    </form>
</div>
