@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

configs-component {

  .width-100-percent {
    width: 100%;
  }

  .config-position {
    display: flex;
    flex-direction: row;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  .form-input {
    height: 40px;
  }

  .padding-40 {
    padding: 40px;
  }

  .has-danger {
    .form-control {
      background: transparentize(#e01133, 0.9);
      color: #e01133;
    }
  }

  .save-config {
    width: 180px;
    height: 60px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

}
