<ul class="nav nav-tabs">
    <li><a data-toggle="tab" ui-sref="dashboard">DashBoard</a></li>
    <li class="active"><a data-toggle="tab" ui-sref="configs">Settings</a></li>
</ul>

<div class="padding-40">
    <form name="configForm" novalidate
          ng-submit="configForm && configForm.$valid && vm.saveConfig(vm.config)">
        <div class="config-position">
            <div class="width-100-percent">
                <div class="form-group col-12"
                     ng-class="{ 'has-danger' : configForm.levelSlack.$invalid && !configForm.levelSlack.$pristine }">
                    <label for="levelSlack">Bottle Level To Notification In Slack:</label>
                    <input
                            type="number"
                            min="0"
                            name="levelSlack"
                            class="form-control input-number"
                            id="levelSlack"
                            ng-model="vm.config.levelSlack"
                            required/>
                </div>
                <div class="form-group col-12"
                     ng-class="{ 'has-danger' : configForm.levelSms.$invalid && !configForm.levelSms.$pristine }">
                    <label for="levelSms">Bottle Level To Notification Through SMS:</label>
                    <input
                            type="number"
                            min="0"
                            name="levelSms"
                            class="form-control input-number"
                            id="levelSms"
                            ng-model="vm.config.levelSms"
                            required/>
                </div>
                <div class="form-group col-12"
                     ng-class="{ 'has-danger' : configForm.bottleCount.$invalid && !configForm.bottleCount.$pristine }">
                    <label for="bottleCount">Bottles To Order:</label>
                    <input
                            type="number"
                            min="0"
                            name="bottleCount"
                            class="form-control input-number"
                            id="bottleCount"
                            ng-model="vm.config.bottleCount"
                            required/>
                </div>
                <div class="form-group col-12"
                     ng-class="{ 'has-danger' : configForm.mobileNumber.$invalid && !configForm.mobileNumber.$pristine }">
                    <label for="mobileNumber">Phone Number For Notifications:</label>
                    <input name="mobileNumber"
                           id="mobileNumber"
                           ng-model="vm.mobileNumber"
                           type="text"
                           class="form-control input-number"
                           ui-mask="{{vm.mobileNumberMask}}"
                           ui-mask-placeholder
                           ui-mask-placeholder-char="_"
                           required />
                </div>
                <div class="form-group col-4 hidden-md-down margin-top-30">
                    <button class="btn btn-primary save-config"
                            ng-disabled="!configForm || configForm.$invalid && configForm.$pristine"
                            ng-click="configForm.$setPristine()">
                        Save settings
                    </button>
                </div>
            </div>

            <div class="width-100-percent">
                <div class="form-group col-12"
                     ng-class="{ 'has-danger' : configForm.slackMessage.$invalid && !configForm.slackMessage.$pristine }">
                    <label for="slackMessage">Slack Message:</label>
                    <textarea class="form-control"
                              rows="5"
                              id="slackMessage"
                              name="slackMessage"
                              ng-model="vm.config.slackMessage"
                              required>
                </textarea>
                </div>
                <div class="form-group col-12"
                     ng-class="{ 'has-danger' : configForm.smsMessage.$invalid && !configForm.smsMessage.$pristine }">
                    <label for="smsMessage">SMS Message:</label>
                    <textarea class="form-control"
                              rows="5"
                              id="smsMessage"
                              name="smsMessage"
                              ng-model="vm.config.smsMessage"
                              required>
                </textarea>
                </div>
                <div class="form-group col-12 margin-top-30 hidden-lg-up">
                    <button class="btn btn-primary save-config"
                            ng-disabled="!configForm || configForm.$invalid && configForm.$pristine"
                            ng-click="configForm.$setPristine()">
                        Save settings
                    </button>
                </div>
            </div>

        </div>
    </form>
</div>
