login-page-component {
  padding: 40px;
  width: 100%;

  .logo-img {
    max-width: 100%;
  }

  .center {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
  }

  .btn-login {
    width: 120px;
    height: 40px;
  }

  .margin-top-60 {
    margin-top: 60px;
  }

  .margin-top-30 {
    margin-top: 30px;
  }
}