<div class="container">

    <div class="center margin-top-60">
        <div>
            <label for="login">Login</label>
            <input class="form-control" name="login" id="login">
        </div>
        <div class="margin-top-30">
            <label for="pass">Password</label>
            <input class="form-control" name="password" type="password" id="pass">
        </div>
        <button class="btn btn-primary btn-login margin-top-30" ng-click="vm.submitAuth(user)">
            LogIn
        </button>
    </div>

</div>